header {
	background-color: green;
	padding: 20px;
	text-align: center;
	margin: 0;
}

.Main {
	padding: 20px;
}

.SøgeInput {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

footer {
	background-color: lightgray;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.Button {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	width: 100%;
}
.VlogGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin-top: 20px;
	gap: 10px;
}
