header {
	background-color: lightblue;
	padding: 20px;
	text-align: center;
	margin: 0;
}

.AppMain {
	padding: 20px;
}

.SøgeInput {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

footer {
	background-color: lightgray;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.Button {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	width: 100%;
}
